
<h2><%= @post.title%></h2>


<h3><%= @post.content%></h3>


<table class="table table-hover table-striped table-condensed">
  <thead>
    <tr>
      <th><h4>Comments: <span class="badge"><%= @post.comments.count %></span></h4></th>
      <th>Score</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    <% @post.comments.each do |comment| %>
      <tr>
        <td><%= comment.content %>
          <%= link_to comment_vote_path(comment, value: 1), method: :post do %> 
            <span class="glyphicon glyphicon-upload up-btn"></span>
          <%end%>
          <%= link_to comment_vote_path(comment, value: -1), method: :post do %> 
            <span class="glyphicon glyphicon-download"></span>
          <%end%>
          <%# <a href="#" class="btn btn-danger btn-xs done-btn"> %>
          <%#   Done %>
          <%# </a> %>
        </td>
        <td><%= Vote.where(comment_id: comment.id).pluck(:value).flatten.reduce(:+) %>
          <td><%= User.find(comment.user_id).email %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Make a comment</h4>
<%= link_to "Comment", new_post_comment_path(@post),class: "btn btn-default"%>
