<!DOCTYPE html>
<html>
  <head>
    <title>Msgboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <%# <div class="container"> %>
      <%#   <div class="row"> %>
        <%#     <div class="col-lg-9"> %>
          <%#       <%= bootstrap_flash %1> %>
          <%#       <%= yield %1> %>
          <%#     </div> %>
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <h3>RoR Board</h3>
            <ul class="nav nav-list">
              <li class="nav-header">User</li>
              <% if user_signed_in? %>
                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              <% else %>
                <li><%= link_to('Login', new_user_session_path)  %></li>
                <li><%= link_to "Register", new_user_registration_path(User.new)  %></li>
              <% end %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <footer>
      <% if Rails.env.development? %>
        <p><%= params[:controller] %>#<%= params[:action] %></p>
      <% end %>
      </footer>
    </body>
  </html>
